backend/venv/ 
frontend/node_modules/ 
__pycache__/ 
output/ 
cache/ 
backend/models/  
backend/uploads/  
backend/output/  
backend/cache/  
test/  
backend/models/ 
backend/uploads/ 
backend/output/ 
backend/cache/ 
test/ 
fonts/ 
.env
.env.*
backend/.env
backend/.env.*
!backend/.env.example
